/pdf_files
/txt_files
/merged_clinical_guidelines.txt
/merged_clinical_guidelines_english.txt
/merged_clinical_guidelines_v2.txt
/merged_clinical_guidelines_short_v2.txt
/merged_clinical_guidelines_short.txt
